ul {
  padding: 0px;
  list-style-type: none;
  display: flex;
}
ul > li {
  padding: 10px 15px;
  border: solid 1px lightgrey;

  margin: 0px;
  color: rgb(86, 143, 180);
  cursor: pointer;
}
ul > li:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(86, 143, 180) !important;
}
.first {
  border-left: solid 3px lightgrey;
}
.last {
  border-right: solid 3px lightgrey;
}
.selected {
  background-color: rgb(86, 143, 180);
  color: white;
}
table {
  width: 100%;
}
h1 {
  text-transform: uppercase;
  text-align: center;
}
